:root {
    --primaryfont: #ff124f;
    --background: #120458;
    --hover: #ff00a0;
    --secondary: #7a04eb;
}

.Projects {
    text-align: center;
    display: flex;
}

.row {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2%;
    align-items: center;
    justify-content: center;
}

.card {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 2%;
    align-items: center;
    justify-content: center;
}

h3 {
    font-size: 200%;
    color: var(--primaryfont);
    clear: both;
    text-align: center;
    padding: 10px;
}

h4 {
    font-size: 150%;
    color: var(--primaryfont);
    background: transparent;   
}

.preview {
    border: 2px solid var(--primaryfont);
    border-radius: 8px;
    max-width: 500px;
}

a {
    padding: 3px;
}

@media only screen and (max-width: 900px) {
    .Projects, .preview {
        width: 95%;
        object-fit: contain;
        padding: 2%;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
}