:root {
    --primaryfont: orange;
    --background: dimgrey;
    --hover: chocolate;
}

#resume {
    color: var(--primaryfont);
    font-size: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
    background: transparent;
    margin: 0;
    padding: 0 0 100px 0;
}

h5 {
    font-size: 200%;
    color: var(--primaryfont);
    text-align: center;
    margin: 0;
}

.skills, ul, li {
    display: flex;
    flex-direction: column;
    padding: 5px;
    color: white;
}

.resume a {
    font-weight: bold;
    color: var(--primaryfont);
    text-decoration: none;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 900px) {
    .skills, ul, nav, header, li {
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        padding: 10px;
    }
}
