:root {
    --primaryfont: #ff124f;
    --background: #120458;
    --hover: #ff00a0;
    --secondary: #7a04eb;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px 0 20px;
    background: linear-gradient(0deg, var(--background) 50%, var(--secondary) 100%);
    width: 100%;
    font-family: Blippo, fantasy;
}

h1 {
    font-size: 200%;
    color: var(--primaryfont);
    background-color: transparent;
    padding: 0px 0px 0px 20px;
}

nav, nav ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    background-color: transparent;
    padding: 0px 20px 0px ;
}

li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    background-color: transparent;
}

a {
    font-weight: bold;
    color: var(--primaryfont);
    text-decoration: none;
    background-color: transparent;
}

a:hover,
.contact a:hover {
    color: var(--hover);
    text-decoration: none;
    text-shadow: 1px 1px 6px #fe75fe, 1px 1px 6px #fe75fe;
    background-color: transparent;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 200%;
        color: var(--primaryfont);
        background-color: transparent;
        padding: 0 0 0 0;
    }
    header {
        padding: 0px 0px 0px 0px;
    }
     ul, li, #nav {
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}