:root {
  --primaryfont: #ff124f;
  --background: #120458;
  --hover: #ff00a0;
  height: 100%;
}

* {
  background: var(--background);
  font-family: OCR A Std, monospace;
}

body {
  font-family: OCR A Std, monospace;
  background-color: var(--background);
  height: 100%;
}

.contact {
  background-image: linear-gradient( dimgrey, rgba(117, 61, 24, 0.3));
  width: 100%;
}