:root {
  --primaryfont: #ff124f;
  --background: #120458;
  --hover: #ff00a0;
  height: 100%;
}

* {
  background: var(--background);
  font-family: OCR A Std, monospace;
}

header {
  width: 100%;
}
