:root {
  --primaryfont: orange;
  --background: dimgrey;
  --hover: chocolate;
  height: 100%;
}

* {
  background: var(--background);
  font-family: OCR A Std, monospace;
}

header {
  width: 100%;
}
