:root {
    --primaryfont: orange;
    --background: dimgrey;
    --hover: chocolate;
    width: 100%;
}

* {
    background: var(--background);
}

body {
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    background-color: var(--background);
}

.aboutme {
    padding: 2%;
    color: white;
}

h2 {
    font-size: 200%;
    color: var(--primaryfont);
}

p {
    float: inline-start;
    padding: 10px 0 150px 0;
    color: white;
}

#canoe {
    max-height: 300px;
    width: auto;
    float: left;
    box-shadow: var(--primaryfont);
    margin: 0 2% 0 0;
    transition: all 200ms ease-in;
    border: 2px solid var(--primaryfont);
    border-radius: 15px;
}

@media only screen and (max-width: 600px) {
    #canoe {
        width: 95%;
        object-fit: contain;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
    .header, h1 {
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }
}

