:root {
    --primaryfont: #ff124f;
    --background: #120458;
    --hover: #ff00a0;
}

* {
    background: var(--background);
}

body {
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    background-color: var(--background);
}

.aboutme {
    padding: 2%;
}

h2 {
    font-size: 200%;
    color: var(--primaryfont);
}

p {
    float: inline-start;
    padding: 10px 0 150px 0;
}

#canoe {
    height: 300px;
    width: auto;
    float: left;
    box-shadow: var(--primaryfont);
    padding: 0 2% 0 0;
}

/* @media only screen and (max-width: 600px) {
    .canoe {
        width: 95%;
        object-fit: contain;
        padding: 2%;
        justify-content: center;
        align-items: center;
    } */